body{
    background: #1C1C1C;
    color: #F5FFFA;
    /* color ORANGE-RED #FF4500 */

    overflow: scroll;
    overflow-x: hidden;



}
h1{
    /* color: #FF4500; */
}

.logomarca{
    width: 600px;
    height: auto;
    display: flex;
    text-align: center;
    background: #1C1C1C;

    padding: 15px;
    padding-left: 50px;
    padding-bottom: 0;
    padding-top: 0px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

}
.logomarca h1{
    margin-top: 5px;
}
.logomarca img{

    margin-left: 25px;
    margin-top: 12px;

}
/* .logomarca img:hover{
    cursor: pointer;
} */
#erro{
    display: none;
    color: red;
    margin: 0;
}
#spinner{
    display: none;
    position: absolute;
    z-index: 2;
    left: 48%;
}
.phrase{
    font-size: 20px;
    margin-top: 0;
    text-align: left;

}
#lema{
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    color: #FFD700;
}
#phrase-id {
    width: 40px;
    color: #F5FFFA;
}
.iconz{
    vertical-align: middle;
}
.field-digitation{
    font-size: 20px;
    height: 150px;
    border: 6px solid white;
    border-radius: 4px;
}
.field-disabled{
    background-color: #363636;
}

body ul{

}
.border-green{
    border: 6px solid green;
}
.border-red{
    border: 6px solid red;
}
.score{
    display: none;
}

.container .buttons{

    /* text-align: right; */
    color: #1C1C1C;
    /* float: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#btn-sync{
    /* float: left; */

    text-align: left;
}

.select-users{
    display: inline-block;
    color: #1C1C1C;
}
.selectize-input{
    width: 150px;
    vertical-align: middle;

}
#users{
    display: block;
    color: #1C1C1C;
}

footer.page-footer{
    /* background-color: #f3571c; */
    background-color: #F5FFFA;
}
.white-text{

}
