body{
    background: #1C1C1C;
    color: #F5FFFA;
    /* color ORANGE-RED #FF4500 */



}
h1{
    /* color: #FF4500; */
}

.logomarca{
    width: 60%;
    height: auto;
    display: flex;
    text-align: center;


    background: #1C1C1C;
    padding: 15px;

    margin-left: auto;
    margin-right: auto;
}
.logomarca img{

    margin-left: 25px;
    margin-top: 35px;

}
.phrase{
    font-size: 20px;
    margin-top: 0;
    text-align: left;

}
#lema{
    font-size: 20px;
    margin-top: 0;
    text-align: center;
}
.iconz{
    vertical-align: middle;
}
.field-digitation{
    font-size: 20px;
    height: 150px;
    border: 6px solid white;
    border-radius: 4px;
}
.field-disabled{
    background-color: #363636;
}
body ul{

}
.border-green{
    border: 6px solid green;
}
.border-red{
    border: 6px solid red;
}

.container .buttons{

    text-align: right;
    color: #1C1C1C;
    margin-left: 87%;
}
footer.page-footer{
    /* background-color: #f3571c; */
    background-color: #F5FFFA;
}
.white-text{

}
